<div class="tab-content" *ngIf="gameSave">
  <div class="boxes-grid" *ngIf="gameSave.boxes && gameSave.boxes.length > 0">
    <div class="box-card" *ngFor="let box of gameSave.boxes; let i = index">
      <div class="box-header">
        <h4 class="box-name">{{ box.name || 'Box ' + (i + 1) }}</h4>
        &nbsp;
        <span class="box-count">{{ box.count }}/{{box.capacity}}</span>
      </div>
      <div class="box-status" [class.empty]="!box.count">
        {{ !box.count ? 'Empty' : box.count + ' Pokemon' }}
      </div>
    </div>
  </div>
  <div *ngIf="!gameSave.boxes || gameSave.boxes.length === 0" class="empty-state">
    <p>No box data available.</p>
  </div>
</div>
