<div class="tab-content" *ngIf="gameSave">
  <div class="pokemon-grid" *ngIf="gameSave.team && gameSave.team.length > 0">
    <div class="pokemon-card" *ngFor="let pokemon of gameSave.team">
      <div class="pokemon-content">
        <div class="pokemon-avatar">
          <img [ngSrc]="getPokemonImageUrl(pokemon.dexNumber)"
               [alt]="pokemon.name" class="pokemon-image"
               width="48"
               height="48">
        </div>
        <div class="pokemon-info">
          <h4 class="pokemon-name">{{ pokemon.name }}</h4>
          <p class="pokemon-level">Level {{ pokemon.level }}</p>
          <div class="pokemon-types">
            <span class="type-badge">
              {{ pokemon.type1 }}
            </span>
            <span class="type-badge" *ngIf="pokemon.type2 && pokemon.type2 !== pokemon.type1">
              {{ pokemon.type2 }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!gameSave.team || gameSave.team.length === 0" class="empty-state">
    <p>No Pokemon team data available.</p>
  </div>
</div>
