<app-page-layout>
  <div class="game-saves-container">
    <div class="saves-header">
      <h1>My Game Saves</h1>
      <button
        (click)="openUploadModal()"
        class="button button--primary button--compact"
      >
        Upload New Save File
      </button>
    </div>
    <div class="saves-grid">
      <app-game-save-card
        *ngFor="let save of gameSaves$ | async; trackBy: trackBySave"
        [gameSave]="save">
      </app-game-save-card>
    </div>
  </div>
</app-page-layout>

<app-save-file-modal
  [isVisible]="isModalVisible"
  [games]="games$ | async"
  (closeEvent)="onModalClose()"
  (uploadSuccess)="onUploadSuccess($event)"
></app-save-file-modal>
